<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "common/header.html :: common-header"></head>
<body>
<div th:replace = "common/navbar.html :: common-navbar" style="margin-bottom: 0"></div>

    <div class="container">
     
      <div class = "row">
        <div class = "col-md-6 col-md-offset-3 payload-container">
      
          
          <h1 th:text="#{payload.text.h1}"></h1>
          <p th:text="#{payload.text.p}"></p>
          
       
       </div>
      </div>

    </div>   

</body>
</html>